<a href="https://colab.research.google.com/github/Cristinamulas/NLP_HW_Fordham_University/blob/master/CristinaMulas_HWOne.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Homework No. 1
- CISC 6210 Natural Language 
- Date : 9/9/2020
- Cristina Mulas

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

## Part 1

In [ ]:
# import libraries
import glob
import re
import pandas as pd
import nltk
nltk.download('punkt')
from nltk.corpus import stopwords
nltk.download('stopwords')
import string
from nltk.stem import PorterStemmer
stemming = PorterStemmer()
import warnings
from openpyxl.writer.excel import ExcelWriter
from nltk.tokenize import TreebankWordTokenizer

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
def reading_files (path):
  " it takes a file path and return a df with all the text files"
  df = pd.DataFrame() # create a df as a container
  filelist = glob.glob(str(path)+'*.txt') 

  for f in  filelist: # loop over all the txt diles
      read_file = pd.read_csv(f,delimiter = "\n", encoding='latin-1', engine='python',header = None).transpose() # read the files and convert into rows

      df = pd.concat([df,read_file],axis=0,ignore_index=True) # append all the dfs into one 
  return df

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!ls /content/drive/"Shared drives"/CISC6210NLPFall20/test/

 1979-ByRoddyLum.txt   Aperture-ByJenn.txt    fromTheRapeofLu.txt
 66-BySuzanneGar.txt   Aphrodisia-ByRi.txt    FromtheSideline.txt
 78RPM-ByJeffDan.txt   AphroditeMetrop.txt    fromTheSongofSo.txt
 ABalladTheLakeo.txt   APhysicsofDesir.txt    fromthewavethew.txt
 ABBA-ByDennisCo.txt   APityWeWereSuch.txt    fromToAlexisInA.txt
 ABC-ByKathrynMa.txt   APoemBeginningw.txt    fromToPriapusEl.txt
 ABirthday-ByChr.txt   APoemforPulse-B.txt   'fromTotemPoem[A.txt'
 AnOde-ByMatthew.txt  'APoemfortheh&aa.txt'  'fromTotemPoem[I.txt'
 AnOfferingforPa.txt   APoemfortheOldM.txt    fromTroilusandC.txt
 AnOld-Fashioned.txt   Apology-ByRubyR.txt   'FruitDon&rsquo;.txt'
 AnotherInsaneDe.txt   APornography-By.txt    Fruit-gathering.txt
 AnotherLullabyf.txt   APossumEntering.txt    FuckStuck-ByNao.txt
 AnotherMoon-ByZ.txt   FromtheNotebook.txt    FucktheAstronau.txt
 Antique-ByRober.txt   FromthePlane-By.txt    G-9-ByTimDlugos.txt
 Aoneendedboomer.txt   fromThePrincess.txt    GayPrideWeekend.txt

In [ ]:
df = reading_files('/content/drive/Shared drives/CISC6210NLPFall20/LoveOutput/')
#df = reading_files('/content/drive/Shared drives/CISC6210NLPFall20/test/')

# df = reading_files('/content/gdrive/Shared drives/CISC6210NLPFall20/test/')

ParserError: ignored

In [ ]:
df.columns = ['Author_Title', 'Tags', 'Body', 'Link'] # name columns

In [ ]:
# cheching for null values
df.isnull().sum()

Author_Title    0
Tags            0
Body            4
Link            4
dtype: int64

In [ ]:
df.dropna(subset=['Body', 'Link'], inplace = True) # removing all null values in features: Body, Link

In [ ]:
# cheching for null values

df.isnull().sum()

Author_Title    0
Tags            0
Body            0
Link            0
dtype: int64





### Create a new features for Autor and Titte

In [ ]:
df['Author'] = df['Author_Title'].apply(lambda x :x.split('By')[1]) # create an Author col by spliting Author_Title column
df['Title'] = df['Author_Title'].apply(lambda x :x.split('By')[0]) # create a Title col by spliting Author_Title column
df.drop(['Author_Title'], axis = 1, inplace = True) # delete Author_Title col from df

In [ ]:
df.info() # checking

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41 entries, 0 to 44
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tags    41 non-null     object
 1   Body    41 non-null     object
 2   Link    41 non-null     object
 3   Author  41 non-null     object
 4   Title   41 non-null     object
dtypes: object(5)
memory usage: 1.9+ KB

### Cleaning Body Feature

In [ ]:
# Removing encoding charcteres in all the rows
df['Body'] = df['Body'].apply(lambda x : str(x).encode("ascii", "ignore"))

In [ ]:
df['Body'] = df['Body'].apply(lambda x: str(x).replace('<br><br>','[P]')) # replace line breaks by [L]

In [ ]:
df['Body'] = df['Body'].apply(lambda x: str(x).replace('<br>','[L]')) # replace paragraph breaks by [L]

In [ ]:
df['Body'] = df['Body'].apply(lambda x: re.sub('<.*?>', '', str(x))) # removing all the tags





### Cleaning Link Feature

In [ ]:
df['Link'] = df['Link'].apply(lambda x : re.sub(r'original link:', '', str(x))) # return only the URL

In [ ]:
df.isnull().sum()

Tags      0
Body      0
Link      0
Author    0
Title     0
dtype: int64

### Questions

In [ ]:
df.head()

                                                Tags  ...        Title
0  Living ;Life Choices ;Time & Brevity ;Love ;De...  ...        1979
1  Living ;Love ;Classic Love ;Desire ;Infatuatio...  ...  A Birthday
2  Love ;Relationships ;Family & Ancestors ;Men &...  ...      78 RPM
3  Living ;Coming of Age ;Love ;Unrequited Love ;...  ...        ABBA
4  Living ;Health & Illness ;Life Choices ;The Mi...  ...         ABC

[5 rows x 5 columns]

In [ ]:
# total number of poems stored
len(df['Body'])

41

In [ ]:
# number of authots
df['Author'].value_counts().count()

40

In [ ]:
# sort authors by the amount of their poems collected in the table, and show top 20 authors. 
df['Author'].value_counts()[:20]

 Luke Davies                     2
 Anne Marie Macari               1
 Aphra Behn                      1
 Jeff Daniel Marion              1
 Samuel Wagan Watson             1
 Rabindranath Tagore             1
 Richard Hoffman                 1
 Robert Pinsky                   1
 Rosanna Warren                  1
 Roddy Lumsden                   1
 Tibullus                        1
 Jameson Fitzpatrick             1
 A. E. Stallings                 1
 Tom Healy                       1
 Brenda Shaughnessy              1
 Robert Duncan                   1
 Yehuda Amichai                  1
 Elsa von Freytag-Loringhoven    1
 Alfred, Lord Tennyson           1
 John Wieners                    1
Name: Author, dtype: int64

In [ ]:
# save in a excell file without null values
df.to_excel('CleanOutputLoveOutput.xlsx', index=False)

## Part 2

In [ ]:
df_clean = pd.read_excel('CleanOutputLoveOutput.xlsx')  # reading the excell file

In [ ]:
df_clean.head()

                                                Tags  ...        Title
0  Living ;Life Choices ;Time & Brevity ;Love ;De...  ...        1979
1  Living ;Love ;Classic Love ;Desire ;Infatuatio...  ...  A Birthday
2  Love ;Relationships ;Family & Ancestors ;Men &...  ...      78 RPM
3  Living ;Coming of Age ;Love ;Unrequited Love ;...  ...        ABBA
4  Living ;Health & Illness ;Life Choices ;The Mi...  ...         ABC

[5 rows x 5 columns]




### Create PoemID Feature

In [ ]:
# Create PoemID feature
df_clean['PoemID'] = pd.Series(range(1,2043))

### Create NumPara Feature

In [ ]:
df_clean['NumPara'] = df_clean['Body'].apply(lambda x: str(x).count("[P]")) # create a new feature with the count of a para

### Create NumLine Feature

In [ ]:
df_clean['line_breaks'] = df_clean['Body'].apply(lambda x: str(x).count("[L]")) #create a new feature with the count of new lines

In [ ]:
df_clean["NumLine"] = df_clean['line_breaks'] + df_clean['NumPara'] # create a new feature with the sum of the line breaks and para

In [ ]:
# remove [P] symbols 
df_clean['Body'] = df_clean['Body'].apply(lambda x : x.replace('[P]', ''))

In [ ]:
# remove [L] symbols 
df_clean['Body'] = df_clean['Body'].apply(lambda x : x.replace('[L]', ''))

### Create LengthOne Feaure

In [ ]:
def tokens_wo_punctuation(text):
  """it takes an str and return the lenght of the tokens w/o punctuation"""
  tokens = TreebankWordTokenizer().tokenize(text)
  token_words = [w for w in tokens if w.isalpha()]
  return len(token_words)

In [ ]:

df_clean['LengthOne']= df_clean['Body'].apply(lambda x :tokens_wo_punctuation(x)) # create a new feature with the len of the tokens w/o punctuation





### Create LengthTwo Feaure

In [ ]:
df_clean['LenthTwo'] = df_clean['Body'].apply(lambda x: len(TreebankWordTokenizer().tokenize(x)))# create a new feature with the len of the tokens





### Create NumLSent Feature

In [ ]:
df_clean['NumSent'] = df_clean['Body'].apply(lambda x : len(nltk.tokenize.sent_tokenize(x))) # create a feature with the number of sentences

### Create NumComma Feature

In [ ]:
df_clean['NumComma'] = df_clean['Body'].apply(lambda x : str(x).count(",")) # createa new feature with the total nulber of commas

### Create a new df

In [ ]:
df_stats = df_clean.copy() # make a copy of the df

In [ ]:
df_stats_final = df_stats[['Author', 'PoemID', 'LengthOne' , 'LenthTwo', 'NumPara', 'NumLine', 'NumSent','NumComma']] # subseting features

### Show statistics

In [ ]:
df_stats_final.describe()

          PoemID    LengthOne     LenthTwo  ...     NumLine     NumSent    NumComma
count  41.000000    41.000000    41.000000  ...   41.000000   41.000000   41.000000
mean   21.000000   327.902439   390.951220  ...   55.731707   17.756098   27.926829
std    11.979149   481.180777   575.295009  ...  103.195209   32.454415   39.447681
min     1.000000    40.000000    46.000000  ...    5.000000    1.000000    0.000000
25%    11.000000   110.000000   123.000000  ...   16.000000    2.000000    6.000000
50%    21.000000   177.000000   210.000000  ...   24.000000    8.000000   14.000000
75%    31.000000   319.000000   358.000000  ...   49.000000   17.000000   30.000000
max    41.000000  2891.000000  3445.000000  ...  637.000000  194.000000  218.000000

[8 rows x 7 columns]

## Part 3

### Tokenize DataFrame

In [ ]:
# create a new df
df_token = df_clean.copy() # make a copy of the df
df_tokenize = df_token[['PoemID', 'Author',  'Body']]

In [ ]:
df_tokenize['Body'] = df_tokenize['Body'].apply(lambda x: TreebankWordTokenizer().tokenize(x)) # tokenize the body feature
df_tokenize['Lenght'] = df_tokenize['Body'].apply(lambda x: len(x)) # create lenght feature
df_tokenize['UniCount'] = df_tokenize['Body'].apply(lambda x: len(set(x))) # create vocabulary size feautre

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df_tokenize.head()

   PoemID               Author  ... Lenght  UniCount
0       1        Roddy Lumsden  ...    288       187
1       2   Christina Rossetti  ...    121        72
2       3   Jeff Daniel Marion  ...     97        68
3       4        Dennis Cooper  ...    171       113
4       5        Kathryn Maris  ...    324       172

[5 rows x 5 columns]



 ### Stop Words DataFrame

In [ ]:
df_s_w = df_clean.copy() # make a copy of the df
df_stop_words = df_s_w[['PoemID', 'Author',  'Body']]  # subseting col

In [ ]:
def remove_stop_words(text):
  " it takes an str return a list of tokenize w/o stop words"
  tokens = TreebankWordTokenizer().tokenize(text)
  tokens_without_sw = [word for word in tokens if not word in stopwords.words('english')]
  return tokens_without_sw

In [ ]:
df_stop_words['Body'] = df_stop_words['Body'].apply(lambda x : remove_stop_words(x)) # tokenize the body feature with stop word removal
df_stop_words['Lenght'] = df_stop_words['Body'].apply(lambda x : len(x)) # create lenght feature
df_stop_words['UniCount'] = df_stop_words['Body'].apply(lambda x : len(set(x))) # create vocabulary size feautre

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df_stop_words.head()

   PoemID               Author  ... Lenght  UniCount
0       1        Roddy Lumsden  ...    159       138
1       2   Christina Rossetti  ...     78        55
2       3   Jeff Daniel Marion  ...     60        50
3       4        Dennis Cooper  ...    107        81
4       5        Kathryn Maris  ...    189       128

[5 rows x 5 columns]

### Stop Words Stemming DataFrame

In [ ]:
df_st = df_clean.copy() # make a copy of the df
df_stemming = df_st[['PoemID', 'Author',  'Body']] # subseting col

In [ ]:

def remove_stop_words_stem(text):
  " it takes an str return a list of tokenize w/o stop words and stemming"
  tokens = TreebankWordTokenizer().tokenize(text)
  tokens_without_sw_stem = [stemming.stem(word) for word in tokens if not word in stopwords.words('english')]
  return tokens_without_sw_stem

In [ ]:
df_stemming['Body'] = df_stemming['Body'].apply(lambda x :remove_stop_words_stem(x)) # tokenize the body feature with stop words removal and stemming
df_stemming['Lenght'] = df_stemming['Body'].apply(lambda x : len((x))) # create lenght feature
df_stemming['UniCount'] = df_stemming['Body'].apply(lambda x : len(set(x))) # create vocabulary size feautre

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df_stemming.head()

   PoemID               Author  ... Lenght  UniCount
0       1        Roddy Lumsden  ...    159       136
1       2   Christina Rossetti  ...     78        55
2       3   Jeff Daniel Marion  ...     60        50
3       4        Dennis Cooper  ...    107        80
4       5        Kathryn Maris  ...    189       123

[5 rows x 5 columns]

### Save it in excell file

In [ ]:
def save_dfs_excel(dfs):
  " it takes a list of dfs and retunr a excell file with 4 sheets"

  writer = pd.ExcelWriter('outputProcessedLoveOutput.xlsx')
  for i, u in enumerate(dfs): # loop over the index and the dfs
    u.to_excel(writer, f'sheet{i}')
  return writer.save()

In [ ]:
df_list = [df_stats_final ,df_tokenize, df_stop_words, df_stemming]

In [ ]:
save_dfs_excel(df_list)